<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.allunite.sdk.cordova" version="1.0.10"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Allunite SDK</name>
    <description>Cordova Allunite SDK Plugin</description>
    <license>BSD License</license>
    <keywords>cordova,ubudu,sdk,beacon,ibeacon</keywords>
    <js-module name="AlluniteSDK" src="www/AlluniteSDK.js">
        <clobbers target="AlluniteSDK" />
    </js-module>

    <dependency id="cordova-plugin-device" url="https://github.com/apache/cordova-plugin-device" />
    <preference name="ACCOUNT_ID" />
    <preference name="ACCOUNT_KEY" />
    <preference name="URI_SCHEME" />
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AlluniteSDKCordova">
                <param name="ios-package" value="AlluniteSDKCordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>Your description NSBluetoothPeripheralUsageDescription</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>Your description NSLocationAlwaysUsageDescription</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>Your description NSLocationWhenInUseUsageDescription</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>Your description NSLocationAlwaysAndWhenInUseUsageDescription</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationUsageDescription">
            <string>Your description NSLocationUsageDescription</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="ITSAppUsesNonExemptEncryption">
            <false/>
        </config-file>
        
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>bluetooth-central</string>
            </array>
        </config-file>
        
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>AllUniteSdk</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$URI_SCHEME</string>
                    </array>
                </dict>
            </array>
        </config-file>
        
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
                <key>NSExceptionDomains</key>
                <dict>
                    <key>sdk-api.allunite.com</key>
                    <dict>
                        <key>NSIncludesSubdomains</key>
                        <true/>
                        <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                        <true/>
                    </dict>
                </dict>
            </dict>
        </config-file>
        
        <config-file target="*-Info.plist" parent="AllUniteSdk">
            <dict>
                <key>accountId</key>
                <string>$ACCOUNT_ID</string>
                <key>accountKey</key>
                <string>$ACCOUNT_KEY</string>
            </dict>
        </config-file>
        
        
        
        <header-file src="src/ios/AlluniteSDKCordova.h" />
        <source-file src="src/ios/AlluniteSDKCordova.m" />

        <header-file src="src/ios/AllUniteSdkManager.h" />
        <header-file src="src/ios/AllUniteSdkBeaconInfo.h" />
        <source-file framework="true" src="src/ios/libAllUniteSdk.a" />
        <source-file framework="true" src="src/ios/libBlueCatsSDK.a" />

        <framework src="Foundation.framework" weak="true" />
        <framework src="CoreGraphics.framework" weak="true" />
        <framework src="UIKit.framework" weak="true" />
        <framework src="SystemConfiguration.framework" weak="true" />
        <framework src="MobileCoreServices.framework" weak="true" />
        <framework src="CoreData.framework" weak="true" />
        <framework src="CoreLocation.framework" weak="true" />
        <framework src="CoreBluetooth.framework" weak="true" />
    </platform>

    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="AlluniteSDKCordova">
                <param name="android-package" value="com.allunite.sdk.cordova.AllUniteSDKCordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <receiver android:name="com.allunite.sdk.startup.StartupBroadcastReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                    <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                    <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                    <action android:name="com.allunite.sdk.startup.start" />
                </intent-filter>
            </receiver>

            <service android:name="com.bluecats.sdk.BlueCatsSDKService" android:enabled="true" />
            <service android:name=".service.BCService" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        	<meta-data
            	android:name="AllUniteId"
            	android:value="$ACCOUNT_ID" />
        	<meta-data
            	android:name="AllUniteKey"
            	android:value="$ACCOUNT_KEY" />
		</config-file>
		    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
      		<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<category android:name="android.intent.category.BROWSABLE" />
        			<data android:scheme="$URI_SCHEME"/>
      		</intent-filter>
		</config-file>
        <source-file src="src/android/com/allunite/sdk/cordova/AllUniteSDKCordova.java"
            target-dir="src/com/allunite/sdk/cordova" />
        <framework custom="true" src="src/android/allunite.gradle" type="gradleReference" />
    </platform>
</plugin>
